#root {
  margin: 58px auto;
  padding: 0;
  text-align: center;
}

.App-landing-hook {
  display: flex;
  align-items: center;
  margin-top: -15px;
}

.App-landing-hook > h1 {
  font-size: 1.5rem;
  margin-right: 5vw;
  color: #3a3a3ade;
  max-width: 333px;

  @media (min-width: 400px) {
    font-size: 2.5rem;
  }
}

.App-landing-hook > img {
  margin-left: -20px;
  max-width: 60%;
  height: auto;
  width: auto; /* ie8 */
}

.App-landing-steps {
  margin-top: -72px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #3e99a3;
}

.App-landing-steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 1rem;
  max-width: 32vw;
  max-width: 250px;
}

.App-landing-steps__item > img {
  max-width: 50%;
  height: auto;
  width: auto; /* ie8 */
}

.App-landing-steps__item > h2 {
  max-width: 300px;
  font-size: 1rem;
  margin-bottom: 8px;
}

.App-landing-steps__item > p {
  max-width: 300px;
  font-size: 1rem;
  margin-top: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #45a049;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
