.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f2f20f;
  padding: 5px;
  z-index: 999; /* Set a high z-index to ensure the navbar is on top of other elements */
}

.navbar-logo {
  margin-left: 10px;
}

.navbar-logo > h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #d3d3d3;
}
